# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDE Workspace files
.idea/
*.iws
.vscode/
*.sublime-project
*.sublime-workspace

### macOS template
# General
.DS_Store
.AppleDouble
.LSOverride

### Windows template
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
